<!-- users/templates/registration/login.html -->
{% extends 'base.html' %}

{% block content %}

<h2>Login</h2>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-label">{{ form.username.label_tag }}</div>
        <div class="form-input">{{ form.username }}</div>
        <div class="form-label">{{ form.password.label_tag }}</div>
        <div class="form-input">{{ form.password }}</div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<a href="{% url 'users:createAccount' %}" class="create-account">Create Account</a>
{% endblock %}
