<!-- templates/base.html -->
{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="YOUR NAME HERE">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
        <header>
            <div id="mobile-header">
                <a id="header-link" href="{% url 'news:index' %}">
                    <img src="{% static 'images/she_codes_news_logo.png' %}" alt="The SheCodesNews logo" class="logo">
                </a>
                <button class="hamburger-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hamburger-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                    </svg>
                </button>
            </div>
            {% include './nav.html' %}
        </header>
        {% block content %} {% endblock %}
        <script src="../static/js/scripts.js"></script>
    </body>
</html>
