<div class="story-card" id="story-card-{{ position }}">
    <div class="card-wrapper">
            <img src="{{ story.image_url }}" height="50%">
        <div class="story-card-text">
            <!-- <h3>{{ story.id }}</h3> -->
                <h3>
                    <a href="{% url 'news:story' story.id %}">{{ story.title }}</a>
                </h3>
                <h4>
                    <a href="{% url 'news:author_stories' story.author_id %}">{{ story.author.username }} </a>
                </h4>
            <h4>{{ story.pub_date|date:'d/m/Y H:i A' }}</h4>
            {% if story.author.id == user.id and allowEdit == True %}
                <a href="{% url 'news:edit_story' story.id %}"><button class="btn-primary">  Edit  </button></a>
                <a href="{% url 'news:delete_story' story.id %}"><button class="btn-primary">Delete</button></a>
            {% endif %}
        </div>
    </div>
</div>
